# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
# Your code here

import pandas as pd

# Read the dataset using pandas
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [2]:
# Standardize the column names
df.columns = df.columns.str.lower().str.replace(" ", "_")


# Rename columns for clarity - here for the state column
df = df.rename(columns={
    "st": "state"
})

# Print the resulting DataFrame
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [3]:
# Check the number of rows and columns in the dataset
print("Number of rows: ", df.shape[0])
print("Number of columns: ", df.shape[1])

Number of rows:  4008
Number of columns:  11

In [4]:
# Explore the data types of each column in the dataset
print(df.dtypes)

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [5]:
# Examine the unique values of categorical columns and the range of values for numerical columns
for col in df.columns:
    if df[col].dtype == 'object':
        print(col)
        print(df[col].nunique())
        print(df[col].unique())
    else:
        print(col)
        print(df[col].nunique())
        print(df[col].min(), df[col].max())

customer
1071
['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
state
8
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
gender
5
[nan 'F' 'M' 'Femal' 'Male' 'female']
education
6
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
customer_lifetime_value
1027
[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
income
774
0.0 99960.0
monthly_premium_auto
132
61.0 35354.0
number_of_open_complaints
6
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
policy_type
3
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
vehicle_class
6
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
total_claim_amount
761
0.382107 2893.239678

In [6]:
# Compute summary statistics of the dataset such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data
print(df.describe(include='number'))

             income  monthly_premium_auto  total_claim_amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [7]:
print(df.describe(include='object'))

       customer   state gender education customer_lifetime_value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     RB50392  Oregon      F  Bachelor              445811.34%
freq          1     320    457       324                       4

       number_of_open_complaints    policy_type  vehicle_class
count                       1071           1071           1071
unique                         6              3              6
top                       1/0/00  Personal Auto  Four-Door Car
freq                         830            780            576

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [8]:
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [9]:
df.state.value_counts()

state
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [10]:
#Standardize Gender column to 'M' or 'F'

# Step 1: standardize to lowered unspaced string values

df['gender'] = df['gender'].astype(str).str.strip().str.lower()
print(df['gender'].unique())

['nan' 'f' 'm' 'femal' 'male' 'female']

In [11]:
# Step 2: standardize the lowered/stripped values to 'M' and 'F'
df['gender'] = df['gender'].replace('f','F').replace('m', 'M').replace('femal', 'F').replace('female', 'F').replace('m','M').replace('male','M')
print(df['gender'].unique())

['nan' 'F' 'M']

In [12]:
# State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
print(df['state'].unique())
print('\n')

print()


df['state'] = df['state'].replace({'Cali':'California', 'AZ':'Arizona', 'WA': 'Washington'})
print(df['state'].unique())

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]



['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

In [13]:
# Here, with the map function --> ACHTUNG, il faut préciser pour toutes les valeurs car les valeurs non renseignées sont sinon transfortmées en Nan
# df['state'] = df['state'].map({'Cali':'California', 'AZ':'Arizona', 'WA': 'Washington'})

In [23]:
# In education, "Bachelors" could be replaced by "Bachelor"
df.head()

df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})
print(df['education'].unique())

['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]

In [28]:
# In Customer Lifetime Value, delete the % character
df.head()

# NOT WORKING: df[customer_lifetime_value] = df[customer_lifetime_value].strip(%)
# df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')

# Convert 'customer_lifetime_value' column to string data type
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str)

# Remove '%' character from 'customer_lifetime_value' column
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')

# Convert the column to numeric if needed
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

df.sample(5) #returns randomly 5 rows of the dataframe

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,car model
3552,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3104,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1346,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605,FN69743,California,M,College,463654.65,26802.0,66.0,1/1/00,Corporate Auto,Two-Door Car,316.800000,Two-Door Car
102,XK64261,Oregon,nan,Bachelor,476281.79,65795.0,62.0,1/1/00,Corporate Auto,Two-Door Car,49.011099,Two-Door Car

In [29]:
df['customer_lifetime_value'].dtypes

dtype('float64')

In [30]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
#df['vehicle_class'] = df['vehicle_class'].replace(['Sports Car', 'Luxury SUV', 'Luxury Car'], 'Luxury')
df['car model'] = df['vehicle_class'].replace(['Sports Car', 'Luxury SUV', 'Luxury Car'], 'Luxury')
df.sample(7)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,car model
762,MC71942,California,F,High School or Below,791919.70,82877.0,99.0,1/1/00,Personal Auto,Two-Door Car,22.819088,Two-Door Car
354,CI38330,Washington,M,Bachelor,254978.61,72217.0,6464.0,1/0/00,Personal Auto,Four-Door Car,91.146661,Four-Door Car
25,FS42516,Oregon,nan,College,580206.60,97541.0,72.0,1/0/00,Personal Auto,Four-Door Car,389.185006,Four-Door Car
2022,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
805,LA14484,Nevada,M,High School or Below,222707.28,27972.0,61.0,1/0/00,Special Auto,Four-Door Car,292.800000,Four-Door Car
2370,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1218,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df['vehicle_class'].value_counts()

vehicle_class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [19]:
df['car model'].value_counts()

car model
Four-Door Car    576
Two-Door Car     205
SUV              199
Luxury            91
Name: count, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [31]:
# Transforming CLV : from object to float:
df["customer_lifetime_value"] = df["customer_lifetime_value"].apply(float)
df['customer_lifetime_value'].dtypes
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
car model                     object
dtype: object

In [33]:
#Impossible to convert an object column to integer if it has Nan inside, even if we ignore the Nan
# df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(int, errors = 'ignore')
# df.dtypes
# df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(int)

# Convert the column to float
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

In [73]:
#Review of 'number_of_open_complaints' column:

# Convert 'number_of_open_complaints' column to string data type
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(str)

# Extract the second value (=b) from 'a/b/c' values
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]

df.sample(10)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,car model
2646,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2699,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1385,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1659,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2259,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,YH43527,Oregon,F,College,360586.03,21585.0,92.0,NaN,Corporate Auto,Four-Door Car,441.6,Four-Door Car
1669,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1813,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,XK33449,California,F,High School or Below,238373.19,0.0,69.0,NaN,Special Auto,Two-Door Car,496.8,Two-Door Car
1180,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
#Let's now transform df['number_of_open_complaints'] to numeric format :
df["number_of_open_complaints"] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')
df.number_of_open_complaints.value_counts()

Series([], Name: count, dtype: int64)

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [75]:
df.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False])

In [76]:
df.columns.isnull

<bound method Index.isna of Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount', 'car model'],
      dtype='object')>

In [77]:
df.isnull().sum()

customer                     2937
state                        2937
gender                          0
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    4008
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
car model                    2937
dtype: int64

In [81]:
# Identify any columns with null or missing values
null_cols = df.columns[df.isnull().any()]
null_cols

Index(['customer', 'state', 'education', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'number_of_open_complaints', 'policy_type',
       'vehicle_class', 'total_claim_amount', 'car model'],
      dtype='object')

In [79]:
#  Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.
null_counts = df.isnull().sum()
print(null_counts)

customer                     2937
state                        2937
gender                          0
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    4008
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
car model                    2937
dtype: int64

In [82]:
#Alternative way:
null_counts = df.isnull().sum()
print(null_counts)

customer                     2937
state                        2937
gender                          0
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    4008
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
car model                    2937
dtype: int64

In [83]:
# Drop the rows or columns with null (na) values

# Drop rows with null values
df_cleaned_rows = df.dropna()

# Print the cleaned DataFrame
print(df_cleaned_rows)

Empty DataFrame
Columns: [customer, state, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount, car model]
Index: []

In [87]:
# Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)


#for numeric fields:
# Select only numeric columns
numeric_columns = df.select_dtypes(include=['int', 'float'])

# Calculate the mean for numeric columns
column_means = numeric_columns.mean()

# Fill null values in numeric columns with column means
df_filled_numeric = numeric_columns.fillna(column_means)

# Combine the filled numeric columns with non-numeric columns
df_filled = df.copy()  # Create a copy of the original DataFrame
df_filled[numeric_columns.columns] = df_filled_numeric  # Update only the numeric columns

# Print the DataFrame with filled null values
print(df_filled)

     customer       state gender             education  \
0     RB50392  Washington    nan                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    nan                   NaN
4004      NaN         NaN    nan                   NaN
4005      NaN         NaN    nan                   NaN
4006      NaN         NaN    nan                   NaN
4007      NaN         NaN    nan                   NaN

      customer_lifetime_value        income  monthly_premium_auto  \
0                7.936903e+05      0.000000            1000.00000
1                6.979536e+05      0.000000              94.00000
2                1.288743e+06  48767.000000             108.00000
3                7.645862e+05      0.000000             106.00000
4                5.363077e+05  36357.000000              68.00000
...                       ...           ...                   ...
4003             7.936903e+05  39295.701214             193.23436
4004             7.936903e+05  39295.701214             193.23436
4005             7.936903e+05  39295.701214             193.23436
4006             7.936903e+05  39295.701214             193.23436
4007             7.936903e+05  39295.701214             193.23436

      number_of_open_complaints     policy_type  vehicle_class  \
0                           NaN   Personal Auto  Four-Door Car
1                           NaN   Personal Auto  Four-Door Car
2                           NaN   Personal Auto   Two-Door Car
3                           NaN  Corporate Auto            SUV
4                           NaN   Personal Auto  Four-Door Car
...                         ...             ...            ...
4003                        NaN             NaN            NaN
4004                        NaN             NaN            NaN
4005                        NaN             NaN            NaN
4006                        NaN             NaN            NaN
4007                        NaN             NaN            NaN

      total_claim_amount      car model
0               2.704934  Four-Door Car
1            1131.464935  Four-Door Car
2             566.472247   Two-Door Car
3             529.881344            SUV
4              17.269323  Four-Door Car
...                  ...            ...
4003          404.986909            NaN
4004          404.986909            NaN
4005          404.986909            NaN
4006          404.986909            NaN
4007          404.986909            NaN

[4008 rows x 12 columns]

In [88]:
# for categorical (object/string)  variables:

# Fill null values with the mode of each column
df_filled_categorical = df.fillna(df.mode().iloc[0])

# Print the DataFrame with filled null values
print(df_filled_categorical)

     customer       state gender             education  \
0     RB50392  Washington    nan                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003  AA71604  California    nan              Bachelor
4004  AA71604  California    nan              Bachelor
4005  AA71604  California    nan              Bachelor
4006  AA71604  California    nan              Bachelor
4007  AA71604  California    nan              Bachelor

      customer_lifetime_value   income  monthly_premium_auto  \
0                   251459.20      0.0                1000.0
1                   697953.59      0.0                  94.0
2                  1288743.17  48767.0                 108.0
3                   764586.18      0.0                 106.0
4                   536307.65  36357.0                  68.0
...                       ...      ...                   ...
4003                251459.20      0.0                  65.0
4004                251459.20      0.0                  65.0
4005                251459.20      0.0                  65.0
4006                251459.20      0.0                  65.0
4007                251459.20      0.0                  65.0

      number_of_open_complaints     policy_type  vehicle_class  \
0                           NaN   Personal Auto  Four-Door Car
1                           NaN   Personal Auto  Four-Door Car
2                           NaN   Personal Auto   Two-Door Car
3                           NaN  Corporate Auto            SUV
4                           NaN   Personal Auto  Four-Door Car
...                         ...             ...            ...
4003                        NaN   Personal Auto  Four-Door Car
4004                        NaN   Personal Auto  Four-Door Car
4005                        NaN   Personal Auto  Four-Door Car
4006                        NaN   Personal Auto  Four-Door Car
4007                        NaN   Personal Auto  Four-Door Car

      total_claim_amount      car model
0               2.704934  Four-Door Car
1            1131.464935  Four-Door Car
2             566.472247   Two-Door Car
3             529.881344            SUV
4              17.269323  Four-Door Car
...                  ...            ...
4003          321.600000  Four-Door Car
4004          321.600000  Four-Door Car
4005          321.600000  Four-Door Car
4006          321.600000  Four-Door Car
4007          321.600000  Four-Door Car

[4008 rows x 12 columns]

In [89]:
# Fill the null values with the previous or next value in the column

# Fill null values with the previous value in the column (forward fill)
df_filled_ffill = df.fillna(method='ffill')

# Print the DataFrame with filled null values
print(df_filled_ffill)

     customer       state gender             education  \
0     RB50392  Washington    nan                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003  MY31220  California    nan               College
4004  MY31220  California    nan               College
4005  MY31220  California    nan               College
4006  MY31220  California    nan               College
4007  MY31220  California    nan               College

      customer_lifetime_value   income  monthly_premium_auto  \
0                         NaN      0.0                1000.0
1                   697953.59      0.0                  94.0
2                  1288743.17  48767.0                 108.0
3                   764586.18      0.0                 106.0
4                   536307.65  36357.0                  68.0
...                       ...      ...                   ...
4003                899704.02  54230.0                 112.0
4004                899704.02  54230.0                 112.0
4005                899704.02  54230.0                 112.0
4006                899704.02  54230.0                 112.0
4007                899704.02  54230.0                 112.0

      number_of_open_complaints     policy_type  vehicle_class  \
0                           NaN   Personal Auto  Four-Door Car
1                           NaN   Personal Auto  Four-Door Car
2                           NaN   Personal Auto   Two-Door Car
3                           NaN  Corporate Auto            SUV
4                           NaN   Personal Auto  Four-Door Car
...                         ...             ...            ...
4003                        NaN   Personal Auto   Two-Door Car
4004                        NaN   Personal Auto   Two-Door Car
4005                        NaN   Personal Auto   Two-Door Car
4006                        NaN   Personal Auto   Two-Door Car
4007                        NaN   Personal Auto   Two-Door Car

      total_claim_amount      car model
0               2.704934  Four-Door Car
1            1131.464935  Four-Door Car
2             566.472247   Two-Door Car
3             529.881344            SUV
4              17.269323  Four-Door Car
...                  ...            ...
4003          537.600000   Two-Door Car
4004          537.600000   Two-Door Car
4005          537.600000   Two-Door Car
4006          537.600000   Two-Door Car
4007          537.600000   Two-Door Car

[4008 rows x 12 columns]

In [90]:
# Fill null values with the next value in the column (backward fill)
df_filled_bfill = df.fillna(method='bfill')

# Print the DataFrame with filled null values
print(df_filled_bfill)

     customer       state gender             education  \
0     RB50392  Washington    nan                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    nan                   NaN
4004      NaN         NaN    nan                   NaN
4005      NaN         NaN    nan                   NaN
4006      NaN         NaN    nan                   NaN
4007      NaN         NaN    nan                   NaN

      customer_lifetime_value   income  monthly_premium_auto  \
0                   697953.59      0.0                1000.0
1                   697953.59      0.0                  94.0
2                  1288743.17  48767.0                 108.0
3                   764586.18      0.0                 106.0
4                   536307.65  36357.0                  68.0
...                       ...      ...                   ...
4003                      NaN      NaN                   NaN
4004                      NaN      NaN                   NaN
4005                      NaN      NaN                   NaN
4006                      NaN      NaN                   NaN
4007                      NaN      NaN                   NaN

      number_of_open_complaints     policy_type  vehicle_class  \
0                           NaN   Personal Auto  Four-Door Car
1                           NaN   Personal Auto  Four-Door Car
2                           NaN   Personal Auto   Two-Door Car
3                           NaN  Corporate Auto            SUV
4                           NaN   Personal Auto  Four-Door Car
...                         ...             ...            ...
4003                        NaN             NaN            NaN
4004                        NaN             NaN            NaN
4005                        NaN             NaN            NaN
4006                        NaN             NaN            NaN
4007                        NaN             NaN            NaN

      total_claim_amount      car model
0               2.704934  Four-Door Car
1            1131.464935  Four-Door Car
2             566.472247   Two-Door Car
3             529.881344            SUV
4              17.269323  Four-Door Car
...                  ...            ...
4003                 NaN            NaN
4004                 NaN            NaN
4005                 NaN            NaN
4006                 NaN            NaN
4007                 NaN            NaN

[4008 rows x 12 columns]

In [94]:
# Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

#ChatGPT Answer:

import numpy as np


# Drop non-numeric columns from df_non_null
df_non_null_numeric = df_non_null.select_dtypes(include=['float64', 'int64'])

# Select a model and train it
imputer = KNNImputer(n_neighbors=5)  # You can adjust the number of neighbors
imputer.fit(df_non_null_numeric)

# Make predictions for missing values
imputed_values = imputer.transform(df_null.select_dtypes(include=['float64', 'int64']))

# Fill null values in the original DataFrame with the predicted values
df.loc[df['customer_lifetime_value'].isnull(), 'customer_lifetime_value'] = imputed_values

# Now df should have null values in 'customer_lifetime_value' filled with predicted values

ValueError: Must have equal len keys and value when setting with an ndarray

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [96]:
# Dropping all duplicate rows

# Step 1: Identify duplicate rows
duplicate_rows = df.duplicated()

# Step 2: Choose a strategy for handling duplicates
# Let's choose to keep only the first occurrence of each duplicated row

# Step 3: Implement the chosen strategy
cleaned_df = df.drop_duplicates(keep='first')

In [97]:
# Step 4: Verify that duplicates are successfully handled
duplicate_rows_after_cleaning = cleaned_df.duplicated()

In [98]:
# Step 5: Save the cleaned dataset to a new CSV file
cleaned_df.to_csv('cleaned_data.csv', index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here
top_quart_value = df['total_claim_amount'].quantile(0.75)
total_claim_top_25_df = df[df['total_claim_amount'] >= top_quart_value]

display(total_claim_top_25_df)

total_claim_top_25_df.describe()
total_claim_top_25_df.describe(include = 'object')

In [ ]:
df[(df['total_claim_amount'] >= top_quart_value) & (df['total_claim_amount'] <= bottom_quart_value))   ]